<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Kitajchuk // Twitch HUD</title>
        <link rel="stylesheet" media="screen" href="/css/app.css" />
    </head>
    <body class="<%= locals.dev ? 'dev' : '' %>">
        <div class="hud js-hud">
            <div class="hud__content">
                <div class="hud__hearts">
                    <div class="hud__hearts__bar js-hud-hearts"></div>
                    <div class="hud__heart__counter js-hud-heart-counter">0:00</div>
                </div>
                <div class="hud__rupees">
                    <div class="hud__rupees__cheer js-hud-cheer"></div>
                </div>
                <div class="hud__fairies">
                    <div class="hud__fairy__counter js-hud-fairy-counter">0:00</div>
                    <div class="hud__fairies__bar js-hud-fairies"></div>
                </div>
                <div class="hud__sidebar js-hud-sidebar">
                    <div class="hud__subs">
                        <h2 class="yellow">Subs</h2>
                        <div class="js-hud-subs"></div>
                    </div>
                    <div class="hud__follows">
                        <h2 class="yellow">Follows</h2>
                        <div class="js-hud-follows"></div>
                    </div>
                    <div class="hud__leaders">
                        <h2 class="yellow">Leaders</h2>
                        <div class="js-hud-leaders"></div>
                    </div>
                </div>
                <div class="hud__alert js-hud-alert">
                    <div class="hud__alert__bot">Kitajchukbot</div>
                    <div class="hud__alert__msg js-hud-alert-msg"></div>
                </div>
            </div>
            <audio class="hud__audio js-hud-audio-fx" src="" controls></audio>
            <audio class="hud__audio js-hud-audio-bgm" src="" controls></audio>
            <!-- <canvas class="hud__canvas js-hud-canvas" id="canvas"></canvas> -->
            <canvas class="hud__maze js-hud-maze" id="maze" width="200" height="1000"></canvas>
        </div>
        <script src="/js/cellauto.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>
