<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Kitajchuk // Twitch HUD</title>
        <link rel="stylesheet" media="screen" href="/css/app.css" />
    </head>
    <body class="<%= locals.dev ? 'dev' : '' %>">
        <div class="hud js-hud">
            <div class="hud__hearts js-hud-hearts"></div>
            <div class="hud__rupees js-hud-rupees"></div>
            <div class="hud__fairies js-hud-fairies"></div>
            <div class="hud__fairy__counter js-hud-fairy-counter">00:00</div>
            <div class="hud__heart__counter js-hud-heart-counter">00:00</div>
            <div class="hud__alert js-hud-alert">
                <div class="hud__alert__bot">Kitajchukbot</div>
                <div class="hud__alert__msg js-hud-alert-msg"></div>
            </div>
            <audio class="hud__audio js-hud-audio" src="" controls></audio>
        </div>
        <script src="/js/app.js"></script>
    </body>
</html>
