/******************************************************************************
 * Config / Dev / Debug
*******************************************************************************/
@import "./reset";

$red: #ee2a3e;
$green: #10ff59;
$blue: #22beef;
$pink: #f06c9d;
$purple: #86006a;
$yellow: #eefd02;
$orange: #ff6b01;
$white: #fff;
$black: #000;
$black075: rgba( 0, 0, 0, 0.75 );
$black01: #111;
$black02: #222;
$black03: #333;
$transform: 100px;
$duration: 200ms;
$marginHorz: 60px;
$marginVert: 40px;

html,
body {
    height: 100%;
    width: 100%;
}

body.dev {
    background-color: $black;
}



/******************************************************************************
 * Fonts
*******************************************************************************/
@font-face {
    font-family: "Calamity-Regular";
    src: url( "/fonts/Calamity-Regular.woff" ) format( "woff" );
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "Calamity-Bold";
    src: url( "/fonts/Calamity-Bold.woff" ) format( "woff" );
    font-style: normal;
    font-stretch: normal;
}



/******************************************************************************
 * HUD
*******************************************************************************/
.red {
    color: $red;
}
.pink {
    color: $pink;
}
.blue {
    color: $blue;
}
.green {
    color: $green;
}
.purple {
    color: $purple;
}
.orange {
    color: $orange;
}
.yellow {
    color: $yellow;
}
.hud {
    color: $white;
    font-family: "Calamity-Regular";
    font-size: 22px;
    line-height: 1.5;

    span {
        font-family: "Calamity-Bold";
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: "Calamity-Bold";
        font-size: 28px;
    }

    .mono {
        font-family: monospace;
    }
}



/******************************************************************************
 * HUD Alerts
*******************************************************************************/
.hud__alert {
    background-color: $black075;
    border-radius: 200px;
    left: 50%;
    opacity: 0;
    padding: 60px 160px;
    position: fixed;
    top: 50%;
    transform: translate3d( -50%, -50%, 0 );
    transition: transform $duration ease,
                opacity $duration ease;

    h1, p,
    .hud__alert__bot {
        opacity: 0;
        transition: transform $duration ease,
                    opacity $duration ease;
    }

    h1 {
        transform: translate3d( 0, $transform, 0 );
    }

    p {
        max-width: 480px;
        transform: translate3d( 0, $transform * 2, 0 );
        width: 100%;
    }

    &.is-active {
        opacity: 1;
        transform: translate3d( -50%, -50%, 0 );

        h1, p {
            opacity: 1;
            transform: translate3d( 0, 0, 0 );
        }
        .hud__alert__bot {
            opacity: 1;
            transform: translate3d( 130px, -50%, 0 );
        }
    }
}
.hud__alert__bot {
    font-size: 20px;
    left: 0;
    position: absolute;
    top: 0;
    opacity: 0;
    transform: translate3d( 130px, -100% , 0 );
}



/******************************************************************************
 * HUD Hearts
*******************************************************************************/
.hud__hearts {
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    justify-content: flex-start;
    left: 0;
    position: fixed;
    top: 0;
    transform: translate3d( $marginHorz, $marginVert, 0 );
    // width: 342px;
}
.hud__hearts__container {
    display: inline-block;
    height: 38px;
    position: relative;
    width: 38px;

    span {
        background-color: $red;
        height: 28px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate3d( -50%, -50%, 0 );
        transition: background-color $duration ease;
        width: 28px;
    }

    &.slashed {
        span {
            background-color: $black02;
        }
    }
}



/******************************************************************************
 * HUD Fairies
*******************************************************************************/
.hud__fairies {
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    justify-content: flex-start;
    position: fixed;
    right: 0;
    transform: translate3d( -$marginHorz, -$marginVert, 0 );
    width: 570px;
}
.hud__fairies__container {
    display: inline-block;
    height: 38px;
    position: relative;
    width: 38px;

    span {
        background-color: $black02;
        height: 28px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate3d( -50%, -50%, 0 );
        width: 28px;
        transition: background-color $duration ease;
    }

    &.found {
        span {
            background-color: $pink;
        }
    }
}



/******************************************************************************
 * HUD Timers
*******************************************************************************/
.hud__fairy__counter {
    left: 0;
    position: fixed;
    top: 0;
    transform: translate3d( $marginHorz, $marginVert * 3.5, 0 );
}
.hud__heart__counter {
    left: 0;
    position: fixed;
    top: 0;
    transform: translate3d( $marginHorz, $marginVert * 2.5, 0 );
}



/******************************************************************************
 * HUD Audio
*******************************************************************************/
.hud__audio {
    bottom: 0;
    left: 0;
    position: fixed;
    visibility: hidden;
    width: 100%;
}
