/******************************************************************************
 * Config / Dev / Debug
*******************************************************************************/
@import "./reset";

$red: #f30541;
$teal: #2affea;
$green: #10ff59;
$pink: #f49ac1;
$yellow: #eefd02;
$purple: #6441a4;
$blue: #1795d4;
$white: #fff;
$black: #000;
$black075: rgba( 0, 0, 0, 0.75 );
$black01: #111;
$black02: #222;
$black03: #333;
$transform: 100px;
$duration: 200ms;
$marginHorz: 60px;
$marginVert: 40px;

html,
body {
    height: 100%;
    width: 100%;
}

body.dev {
    background-color: $black;
    // background-image: url( "/img/bg.jpg" );
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: 50% 50%;

    // &:after {
    //     background-color: $black01;
    //     content: "";
    //     left: 0;
    //     height: 100%;
    //     opacity: 0.5;
    //     position: fixed;
    //     top: 0;
    //     width: 100%;
    // }
}



/******************************************************************************
 * Fonts
*******************************************************************************/
@font-face {
    font-family: "Calamity-Regular";
    src: url( "/fonts/Calamity-Regular.woff" ) format( "woff" );
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "Calamity-Bold";
    src: url( "/fonts/Calamity-Bold.woff" ) format( "woff" );
    font-style: normal;
    font-stretch: normal;
}



/******************************************************************************
 * HUD
*******************************************************************************/
.red {
    color: $red;
}
.teal {
    color: $teal;
}
.green {
    color: $green;
}
.yellow {
    color: $yellow;
}
.pink {
    color: $pink;
}
.purple {
    color: $purple;
}
.blue {
    color: $blue;
}
.hud {
    color: $white;
    font-family: "Calamity-Bold";
    font-size: 22px;
    line-height: 1.5;
    pointer-events: none;

    h1, h2, h3, h4, h5, h6 {
        font-size: 28px;
    }
    h2, h3, h4, h5, h6 {
        font-size: 24px;
    }

    .mono {
        font-family: monospace;
    }
}
.hud__content {
    position: relative;
    z-index: 2;
}



/******************************************************************************
 * HUD Alerts
*******************************************************************************/
.hud__alert {
    align-items: flex-start;
    background-color: $black075;
    border-radius: 200px;
    display: flex;
    left: 50%;
    opacity: 0;
    padding: 50px 150px;
    position: fixed;
    top: 50%;
    transform: translate3d( -50%, -50%, 0 );
    transition: transform $duration ease,
                opacity $duration ease;

    h1, p,
    .hud__alert__bot {
        opacity: 0;
        transition: transform $duration ease,
                    opacity $duration ease;
    }

    h1 {
        transform: translate3d( 0, $transform, 0 );
    }

    p {
        max-width: 100%;
        transform: translate3d( 0, $transform * 2, 0 );
        width: 600px;
    }

    &.is-active {
        opacity: 1;
        transform: translate3d( -50%, -50%, 0 );

        h1, p {
            opacity: 1;
            transform: translate3d( 0, 0, 0 );
        }
        .hud__alert__bot {
            opacity: 1;
            transform: translate3d( 100px, -50%, 0 );
        }
    }
}
.hud__alert__bot {
    font-size: 20px;
    left: 0;
    position: absolute;
    top: 0;
    opacity: 0;
    transform: translate3d( 100px, -100% , 0 );
}
.hud__alert__msg,
.hud__alert__icon {
    display: inline-block;
    vertical-align: top;
}
.hud__alert__icon {
    height: 128px;
    margin-right: 20px;
    width: 128px;
        display: none;
}



/******************************************************************************
 * HUD Hearts
*******************************************************************************/
.hud__hearts {
    left: 0;
    position: fixed;
    top: 0;
    transform: translate3d( $marginHorz, $marginVert, 0 );
}
.hud__hearts__bar {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
}
.hud__heart__counter {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}
.hud__hearts__container {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 34px;

    span {
        background-image: url( "/img/heartred.png" );
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 28px 28px;
        height: 28px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate3d( -50%, -50%, 0 );
        transition: background-color $duration ease;
        width: 28px;
    }

    &.slashed {
        span {
            background-image: url( "/img/heartgrey.png" );
        }
    }
}



/******************************************************************************
 * HUD Fairies
*******************************************************************************/
.hud__fairies {
    bottom: 0;
    position: fixed;
    right: 0;
    transform: translate3d( -$marginHorz, -$marginVert, 0 );
}
.hud__fairies__bar {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
}
.hud__fairy__counter {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}
.hud__fairies__container {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 34px;

    span {
        background-image: url( "/img/fairygrey.png" );
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 32px 32px;
        height: 32px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate3d( -50%, -50%, 0 );
        width: 32px;
        transition: background-color $duration ease;
    }

    &.found {
        span {
            background-image: url( "/img/fairypink.png" );
        }
    }
}



/******************************************************************************
 * HUD Sidebar
*******************************************************************************/
.hud__sidebar {
    left: 0;
    position: fixed;
    top: 0;
    transform: translate3d( $marginHorz, $marginVert * 2.5, 0 );
}
.hud__subs,
.hud__follows,
.hud__leaders,
.hud__commands {
    padding-top: $marginHorz / 2;
}
.hud__commands {
    div {
        transform: translateX( -6px );
    }
    .mono {
        display: inline-block;
        font-size: 28px;
        font-weight: bold;
        position: relative;
    }
}



/******************************************************************************
 * HUD Audio
*******************************************************************************/
.hud__audio {
    bottom: 0;
    left: 0;
    position: fixed;
    visibility: hidden;
    width: 50%;
}
.hud__audio + .hud__audio {
    left: 50%;
}



/******************************************************************************
 * HUD Rupees
*******************************************************************************/
.hud__rupees {
    position: fixed;
    right: 0;
    top: 0;
    transform: translate3d( -$marginHorz, $marginVert, 0 );
}
.hud__rupees__icon {
    background-color: $black02;
    display: inline-block;
    height: 28px;
    width: 28px;
    transition: background-color $duration ease;
    vertical-align: middle;
}
.hud__rupees__cheer {
    display: inline-block;
    vertical-align: middle;
}



/******************************************************************************
 * HUD FX Canvas
*******************************************************************************/
.hud__maze {
    background-color: $black02;
    box-shadow: 0 0 10px 5px rgba( 0, 0, 0, 0.25 );
    height: 1000px;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate3d( 0, -50%, 0 );
    width: 200px;
    z-index: 1;
}
